.jaya {
    text-align: center; 
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    height: 100vh; /* Full height to center vertically */
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    
}
.align 
{
    height: 100%; /* Ensures child div occupies full height */
}

/*This is way to comment in css*/
